


*{
    
    font-size: large;
 }

     .section--two {
        background-color:rgb(240, 240, 240);
     }
    
     #profile-pic {
        max-width:20em;
        max-height:10.5em;
       }

       .email--me {
        color: #fff;
        background-color:#000;
    }
    
    .btn--btn {
        color: #fff;
        background-color:#000;
    }
    
    .article{
        font-size: 0.95em;
        
    }
   

@media screen and (max-width: 720px) {
     #profile-pic {
        max-width:8em;
        max-height:7em;
        
    }    
}




 



